{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}


{% block title %} {{ post.title }} {% endblock %}

{% block content %}
<div class="col-sm-9">
    <div class="mt-3">
        <h2>{{ post.title }}</h2>
        <small>posted on {{ post.created_at }}</small>
        <hr>
        <p class="text-muted">
            {{ post.text|linebreaks|safe }}
        </p>
        <a href="{% url 'post_list' post.category.slug %}"
           class="badge badge-info">{{ post.category.name|capfirst }}</a>
    </div>

    <div class="mt-3">
        <h3>Comments</h3>
        <ul class="list-unstyled">
            {% for comment in comments %}
            <li class="media">
                <img class="mr-3" src="{% static 'img/user-placeholder.png' %}">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">{{ comment.author.name }}</h5>
                    <p>
                        <small class="text-muted">{{ comment.created_at }}</small>
                    </p>
                    <p>
                        {% if comment.status == 'moderated' %}
                        <span class="font-weight-light font-italic text-muted">
                        [[Moderated comment: {{ comment.moderation_text }}]]
                    </span>
                        {% else %}
                        {{ comment.text }}
                        {% endif %}
                    </p>
                </div>
            </li>
            {% empty %}
            <li class="media">No comment yet</li>
            {% endfor %}
        </ul>

        <form action="{% url 'post_detail' post.pk %}" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form comment_form %}
            {% buttons %}
            <button type="submit" class="btn btn-primary">Post comment</button>
            {% endbuttons %}
        </form>

    </div>
</div>


<div class="col-sm-3">
    <h5>Post from the same category</h5>
    <ul class="list-group">
        {% for post in post_same_category %}
        <li class="list-group-item">
            <a href="{% url 'post_detail' post.pk %}">
                {{ post.title|truncatewords:4 }}
            </a>
        </li>
        {% empty %}
        This is the only post for this category
        {% endfor %}
    </ul>

</div>

{% endblock content %}