{% extends 'base.html' %}

{% block title %} POST {% endblock %}

{% block content %}

<div class="col-sm-9">
    {% for post in posts %}
    <div>
        <h3><a href="#">{{post.title}}</a></h3>
        <small>Posted on {{ post.created_at}}</small>
        <hr>
        <p class="text-muted">
            {{ post.text|linebreaks|safe|truncatewords:100 }}
            <a href="{% url 'post_list' post.category.slug %}" class="badge badge-info">
                {{ post.category.name|capfirst }}</a>
        </p>
    </div>
    {% empty %}
    <div class="text-center">
        <p class="display-1">:-(</p>
        <h3>
            Sorry, there is no post for this category
            <span class="badge badge-info">{{category.name}}</span>
        </h3>
    </div>

    {% endfor %}
</div>

<div class="col-sm-3">
    <h5>Categories</h5>
    <ul class="list-unstyled">
        {{ navigation_items }}
        {% for cat in categories %}
        <li>
            <a href="{% url 'post_list' cat.slug %}"
               class="badge badge-secondary">
                {{ cat.name|capfirst }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock content %}